.searchInput {
  width: 60vw;
  height: 37px;
  /* left: 20px; */
  /* top: 16px; */
}
.storageIcon {
  right: 0;

}
.storageBtn {
  float: right;
}
.mainContents {
  margin-top:10px;
}

.videoIframe {
  width: -webkit-fill-available;
  height: 50vh;
}

.heartBtn {
  float: right;
  display: contents !important;
  box-shadow: none !important;
}

.thumbnailsList {
  overflow-y: scroll;
  height: 80vh;
}
.searchList {
  display: flex !important;
}
.thumbnailImg {
  border: none;
}
.thumbnailDescription {
  margin-top: 70px;
  color: #646464;
  font-size: 12px;
}
.searchLoadingP {
  text-align: center;
  margin-top: 20%;
}